html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

#left-eye {
  transform: translateX(0);
  animation: bob 4s ease infinite;
}

#right-eye {
  transform: translateX(0);
  animation: bob 4s ease infinite;
}

@keyframes bob {

  0% {
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(8px);
  }
}
